[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aweek"]
	path = aweek
	url = https://github.com/reconhub/aweek
[submodule "distcrete"]
	path = distcrete
	url = https://github.com/reconhub/distcrete
[submodule "earlyR"]
	path = earlyR
	url = https://github.com/reconhub/earlyr
[submodule "epicontacts"]
	path = epicontacts
	url = https://github.com/reconhub/epicontacts
[submodule "epiflows"]
	path = epiflows
	url = https://github.com/reconhub/epiflows
[submodule "epitrix"]
	path = epitrix
	url = https://github.com/reconhub/epitrix
[submodule "incidence"]
	path = incidence
	url = https://github.com/reconhub/incidence
[submodule "matchmaker"]
	path = matchmaker
	url = https://github.com/reconhub/matchmaker
[submodule "projections"]
	path = projections
	url = https://github.com/reconhub/projections
